div {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 32px;
    font-family: Arial;
    /* padding: 40px 20px 50px 30px; */
    /* padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px; */
/* 
    padding: 20px 30px;
    padding: 20px 25px 30px; */
    padding: 20px;

    /* border: */

    /* border: 20px groove red;
    border: 20px dotted red; */

    border: 20px solid red;

    /* changes the color of the bottom border */
    border-bottom-color: turquoise;
/* 
    same as this */

    /* border-width: 20px;
    border-style: dotted;
    border-color: red; */



    text-align: center;
/* 
    Margin */
    margin: 200px;
    
}
section {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 32px;
    font-family: Arial;
    border: 20px solid red;
    border-bottom-color: turquoise;
    text-align: center;
    padding: 20px;
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    background-color: turquoise;
}
ul li {
    display: inline-block;
    padding: 10px;
}
ul{
    margin-left: auto;
}